:root {
	--primary-text-color: #212121;
	--secodary-text-color: #757575;
	--accent-color: #2196f3;
	--background-color: #2f303a;
}

body {
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	/* padding-top: 81px; */
}
ul,
h1,
h2,
h3,
p {
	list-style: none;
	padding: 0;
	margin: 0;
}
.container {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 1200px;
	padding: 0 15px;
}
.section {
	/* width: 1600px; */
	/* width: fit-content; */
	padding: 94px 0;
	margin: auto;
}

/* ------------------------header------------------------- */

.header {
	position: sticky;
	z-index: 1;
	top: 0;

	/* width: 1602px; */

	padding: 25px 0;
	margin: auto;

	background-color: #fff;
}
.header .container {
	flex-direction: row;
}
.header {
	border-bottom: 1px solid #ececec;
}
/* ---logo--- */
.logo {
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;

	/* display: flex; */
	word-spacing: -0.25em;

	color: #000;

	text-decoration: none;
	align-self: center;
}
.logo > .logo-accent {
	color: var(--accent-color);
}
/* ---nav, contacts position--- */
.header .nav {
	display: flex;
}
.header .nav-list,
.header .contacts-list {
	display: flex;
}
.header .nav-list {
	margin-left: 93px;
	align-self: center;
}
.header .contacts-list {
	margin-left: auto;
	align-self: center;
}
.header .contact-link {
	display: flex;
	align-items: center;
}
.header .nav-item:not(:first-child) {
	margin-left: 50px;
}
.header .contact-item:not(:first-child) {
	margin-left: 30px;
}
.header .contact-link .icon {
	margin-right: 10px;
}
/* ---nav, contacts decoration--- */
.header .nav-link,
.header .contact-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	text-decoration: none;
	color: var(--primary-text-color);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .contact-link {
	color: var(--secodary-text-color);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .contact-link .icon {
	fill: currentColor;
}
.header .nav-link:hover,
.header .contact-link:hover,
.header .nav-link:focus,
.header .contact-link:focus {
	color: var(--accent-color);
	outline: none;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ---current page---*/
.header .nav-item .current {
	color: var(--accent-color);
	position: relative;
}
.header .nav-item .current::after {
	content: "";
	border-radius: 2px;
	color: var(--accent-color);
	background-color: var(--accent-color);

	position: absolute;
	top: 46px;
	left: 0;
	width: 100%;
	height: 4px;
}

/* -------------------------hero--------------------------- */

.hero {
	width: 1600px;
	padding: 200px 0;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.hero .main-header {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	text-align: center;

	color: #fff;
}
.hero .button {
	border-radius: 4px;
	border: none;
	padding: 10px 32px;
	cursor: pointer;

	display: block;
	margin: auto;
	margin-top: 30px;

	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;

	background-color: var(--accent-color);
	color: #fff;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero .button:hover,
.hero .button:focus {
	outline: 1px solid #fff;
	background-color: #188ce8;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------------------------features-------------------------- */

.features {
	padding-bottom: 0;
}
.features .second-header {
	display: none;
}
.features .container {
	padding-bottom: 0;
}
.features .third-header {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	margin-top: 30px;
}
.features .text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;

	color: var(--secodary-text-color);
}
.features .features-list {
	display: flex;
}
.features .feature-item {
	width: 270px;
}
.features .feature-item p {
	margin-top: 10px;
}
.features .feature-item:not(:first-child) {
	margin-left: 30px;
}
/* ---features icons--- */
.features .icon-container {
	display: flex;
	width: 270px;
	height: 120px;
	justify-content: center;
	align-items: center;

	background-color: #f5f4fa;
	border-radius: 4px;
}

/* ------------------------------about----------------------------- */

.about .second-header {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}
.about img {
	display: block;
}
.about .about-list {
	display: flex;
	margin-top: 50px;
}
.about .about-item:not(:first-child) {
	margin-left: 30px;
}
/* ---img overlay--- */
.about-img-container {
	position: relative;
}
.about-img-overlay {
	position: absolute;
	top: 224px;
	left: 0;
	width: 100%;
	height: 70px;
	/* padding-top: 27px; */
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(47, 48, 58, 0.8);
}
.about-img-overlay p {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	/* text-align: center; */
	color: #fff;
}

/* -------------------------------team----------------------------- */

.team {
	background-color: #f5f4fa;
	/* width: 1600px; */
	display: flex;
}
.team .second-header {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}
/* ---team--- */
.team .third-header {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}
.team .text {
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;

	color: var(--secodary-text-color);
}
.team .team-list {
	display: flex;
	margin-top: 50px;
}
.team .team-item {
	background-color: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.team .team-item:not(:first-child) {
	margin-left: 30px;
}
/* ---team member description--- */
.team .team-item-description {
	padding: 30px 0;
}
.team .team-item h3 {
	text-align: center;
}
.team .team-item p {
	margin-top: 10px;
	text-align: center;
}
/* ---team member sm links--- */
.team .sm-list {
	display: flex;
	justify-content: center;
	margin-top: 16px;
}
.team .sm-list-item:not(:first-child) {
	margin-left: 10px;
}
.team .sm-link {
	color: #afb1b8;
	background-color: #fff;
	display: block;
	width: 44px;
	height: 44px;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team .sm-link .icon {
	fill: currentColor;
}
.team .sm-link:hover,
.team .sm-link:focus {
	color: #fff;
	background-color: var(--accent-color);
	outline: none;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --------------------------clients-------------------------- */

.clients .second-header {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}
.clients .clients-list {
	display: flex;
	margin-top: 50px;
}
.clients .client:not(:first-child) {
	margin-left: 30px;
}
/* ---client links--- */
.clients .client-link {
	display: flex;
	width: 170px;
	height: 92px;
	justify-content: center;
	align-items: center;

	border: 1px solid #afb1b8;
	border-radius: 4px;

	color: #afb1b8;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients .icon {
	fill: currentColor;
}
.clients .client-link:hover,
.clients .client-link:focus {
	color: var(--accent-color);
	border: 1px solid var(--accent-color);
	outline: none;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* -------------------------portfolio-------------------------- */

.portfolio .main-header {
	display: none;
}
/* ---buttons--- */
.portfolio .button {
	background-color: #f5f4fa;

	border-radius: 4px;
	border: none;
	padding: 6px 22px;

	cursor: pointer;

	/* font-family: Roboto, sans-serif; */
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio .buttons-list {
	display: flex;
	justify-content: center;
}
.portfolio .buttons-item:not(:first-child) {
	margin-left: 8px;
}
.portfolio .button:hover,
.portfolio .button:focus {
	background-color: var(--accent-color);
	color: #fff;
	outline: none;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ---works list--- */
.portfolio .works-item-description {
	padding: 20px 0 20px 24px;
}
.portfolio .second-header {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.portfolio .text {
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;

	color: var(--secodary-text-color);

	margin-top: 4px;
}
.portfolio img {
	display: block;
}
.portfolio .works-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
	margin-left: -30px;
}
.portfolio .works-list-item {
	border: 1px solid #eee;
	width: 370px;
}
.portfolio .works-list-item:nth-child(n + 4) {
	margin-top: 30px;
}
.portfolio .works-list-item {
	margin-left: 30px;
}
.portfolio .works-list-item:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	cursor: pointer;

	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ---img overlay--- */
.work-img-container {
	position: relative;
	overflow: hidden;
}
.work-img-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	padding: 64px 23px;
	background-color: rgba(33, 150, 243, 0.9);

	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-img-overlay p {
	font-size: 18px;
	line-height: 1.55;
	letter-spacing: 0.03em;

	color: #fff;
}
.works-list-item:hover .work-img-overlay {
	transform: translateY(0);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --------------------------footer---------------------------- */

.footer .container {
	display: flex;
	flex-direction: row;
}
.footer {
	background-color: var(--background-color);
	padding: 60px 0;
}
/* ---logo--- */
.footer .logo-text {
	color: #fff;
}
.footer .logo {
	align-self: start;
}
/* ---address--- */
.address {
	font-style: normal;
	margin-top: 20px;
}
.address .contacts-list {
	margin: 0;
}
.address .address-link {
	text-decoration: none;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;

	color: #fff;
}
.address .address-link:focus {
	outline: none;
}
.address .contact-link {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;

	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts-item {
	margin-top: 9px;
}
.address .contact-link:hover,
.address .contact-link:focus {
	color: var(--accent-color);
	outline: none;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ---sm-container--- */
.footer .footer-sm-container {
	margin-left: 85px;
	margin-top: 12px;
}
.footer .footer-sm-container .second-header {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #ffffff;
}
.footer .sm-list {
	display: flex;
	margin-top: 20px;
}
/* ---sm-links--- */
.footer .sm-link {
	display: flex;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;

	color: #fff;
	background-color: rgba(255, 255, 255, 0.1);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .sm-link .icon {
	fill: currentColor;
}
.footer .sm-list-item:not(:first-child) {
	margin-left: 10px;
}
.footer .sm-link:hover,
.footer .sm-link:focus {
	background-color: var(--accent-color);
	outline: none;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ---signup form--- */
.footer-signup {
	margin-top: 12px;
	margin-left: 93px;
}
.footer-signup .second-header {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #fff;
}
.footer-signup-form {
	display: flex;
	margin-top: 20px;
}
.footer-signup-form input {
	width: 358px;
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	outline: none;

	padding-left: 16px;

	background-color: var(--background-color);

	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;

	color: rgba(255, 255, 255, 0.6);

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-signup-form input:focus {
	border: 1px solid #fff;
	color: #fff;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-signup-form button {
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	margin-left: 12px;
	padding: 10px 28px;

	background-color: var(--accent-color);

	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;

	color: #fff;

	display: flex;
	justify-content: space-between;
	align-items: center;

	cursor: pointer;
	outline: none;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-signup-form button:hover,
.footer-signup-form button:focus {
	outline: 1px solid #fff;
	background-color: #188ce8;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------------------modal---------------------- */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;

	background-color: rgba(0, 0, 0, 0.2);

	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
	position: absolute;
	width: 528px;
	height: 581px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding: 40px;

	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-button {
	position: absolute;
	top: 8px;
	right: 8px;

	display: block;
	margin-left: auto;

	cursor: pointer;

	border: none;
	background-color: inherit;
	padding: 0;
}
.modal-button .icon {
	fill: var(--primary-text-color);

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover .icon {
	fill: var(--accent-color);

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;

	/* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* ----------------------modal request form---------------------------- */

.modal-request-form {
	display: flex;
	flex-direction: column;
}
.modal-request-form .second-header {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: 0.03em;

	text-align: center;
}
.modal-request-form .request-form-item {
	position: relative;

	margin-top: 30px;
}
.modal-request-form .request-form-item:nth-child(2) {
	margin-top: 32px;
}
.modal-request-form .form-label {
	position: absolute;
	top: -18px;
	left: 0;

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;

	color: var(--secodary-text-color);
}
.request-form-item .icon {
	position: absolute;
	top: 50%;
	left: 12px;

	transform: translateY(-50%);

	fill: var(--primary-text-color);

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-request-form .request-form-item.agreement {
	display: flex;
	align-items: center;

	margin-top: 20px;
	padding-left: 13px;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-align: justify;

	color: var(--secodary-text-color);
}
.modal-request-form .request-form-item.agreement a {
	color: var(--accent-color);
}
.modal-request-form .checkbox {
	position: absolute;
	/* left: -20%; */
	appearance: none;
}
.modal-request-form .check-icon {
	display: block;
	width: 16px;
	height: 16px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 2px;

	background-color: #fff;

	margin-right: 7px;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-request-form .checkbox:focus + .check-icon {
	border: 1px solid var(--accent-color);

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-request-form .checkbox:checked + .check-icon {
	background-color: var(--accent-color);
	border: 1px solid var(--accent-color);
	background-image: url(../images/check.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-request-form input:not(.checkbox) {
	padding-left: 42px;

	width: 447px;
	height: 38px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.01em;

	color: var(--primary-text-color);
}

.modal-request-form textarea {
	display: block;
	padding: 12px 16px;

	width: 447px;
	height: 118px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	resize: none;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.01em;

	color: var(--primary-text-color);
}
.modal-request-form textarea::placeholder {
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.01em;

	color: rgba(117, 117, 117, 0.5);
}
.request-form-item:focus-within input:not(.checkbox),
.request-form-item:focus-within textarea {
	border: 1px solid var(--accent-color);
	outline: none;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.request-form-item:focus-within .icon {
	fill: var(--accent-color);

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-request-form button {
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	cursor: pointer;

	margin: auto;
	margin-top: 30px;

	/* font-family: Roboto, sans-serif; */
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;

	color: #fff;
	background-color: var(--accent-color);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-request-form button:hover,
.modal-request-form button:focus {
	background-color: #188ce8;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
